#root {
  min-width: 320px;
  min-height: 667px;
  text-align: center;
height: 100vh;
  background-color: rgb(236, 236, 236);
  overflow: hidden;
  overflow-y: auto;
}
#root::-webkit-scrollbar {
  width: 0.1px; /* Change width to your preference */
  
}
.main {
  width: 100vw;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;

  
}
