#root {
  min-width: 320px;
  min-height: 667px;
  text-align: center;
  height: auto;
  background-color: rgb(255, 255, 255);
}

.main {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;

  /* background-color: rgb(185, 14, 8); */
}
