.Center{
    

       width: 100vw;
       min-width: 320px;
       height:200px;
       display: flex;
       flex-direction: row;
       /* flex-wrap: wrap; */
       justify-content: flex-start;
       align-items: flex-start;  
       flex-grow: 1;
      
     
   }