/* .CardList {
  width: 100vw;
  height: 200px;
  overflow: hidden;
  overflow-x: scroll;

  display: flex;
  background-color: rgba(6, 34, 94, 0.664);
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  border-radius: 5px;
  background-color: rgba(13, 56, 56, 0.767);
} */



.CardList {
  width: 100vw;
  height:240px;
  display: flex;
   background-color: rgba(240, 240, 240, 0.589); 
  flex-direction: row;
  justify-content: flex-start;
  align-items:center;
  /* align-content: center; */
   /* overflow:auto;
  overflow-x: scroll; */
  transition: transform 0.2s ease-out;

  overflow-x: scroll;
  overflow-y: hidden;

 }   

/* .CardList1{
 overflow: auto; 
  overflow-x: scroll;  
  width:100vw;
  height:400px;
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap; 
  overflow: auto;
  overflow-y: scroll;

  overflow:hidden;
  overflow-x: auto;
  transition: transform 0.2s ease-out;
} */

/* .CardList::-webkit-scrollbar {
 width: 10px;
 
} */


.CardList::-webkit-scrollbar {
width: 1px; 
height:15px;
position: fixed;
bottom: 0PX;
/* background-color: rgb(200, 202, 224); */
}
.CardList::-webkit-scrollbar-button {
  width: 1px;
  background-color: rgb(255, 255, 255);
  }