.Page {
  width:100%;
  height:auto;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
 align-content: center;
  /* flex-grow: 1; */
  background-color: rgb(255, 255, 255);
  /* margin-top: 5px; */
  /* padding: 20px; */
  line-height: 1;
}
.CardDetail {
  width: 80%;
  min-width: 320px;
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 228, 228);
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
}
h4 {
  width: 100%;
  height: 40px;

  /* background-color: rgb(50, 173, 173); */
  text-transform: uppercase;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: rgba(19, 20, 22, 0.959);
}
.CardDetail1 {
  width: 100%;
  height: auto;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: rgb(177, 31, 31); */
  text-transform: uppercase;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.imagdiv {
  /* background-color: rgb(177, 31, 31); */
  width: 260px;
  /* height:250px; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
}
.CardDetail img {
  width: 260px;
  border: 2px solid rgb(77, 76, 76);
  border-radius: 5px;
  /* margin: 1px; */
}
.Detail {
  width: 80px;
  height: auto;
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* background-color: #161d5a7c; */
  border-radius: 5px;
  /* text-transform: uppercase; */
  /* color: rgba(238, 244, 255, 0.959); */
  flex-grow: 1;
}
.Detail button {
  border-radius: 5px;
  background-color: #1b2ed8;
  margin: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 400;
  font-size: medium;
}

spam {
  width: 100%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 27, 27, 0.836); */
 
  color: rgba(46, 105, 223, 0.959);
  border-radius: 5px;
}
/* #sing{
  position: absolute;
  width: 70vw;
  left: 15vw;
  top: 10vh;
  box-shadow: 5px 5px 10px black;
} */