#quntity {
  width: 100%;
  height: 400px;
  /* background-color: rgb(43, 73, 73); */
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  /* padding: 2px;
  margin: 5px; */
  /* border-radius: 5px; */
}
#Qun_Center {
  /* width: 90%; */
  height: auto;
  background-color: rgb(97, 97, 97);
  /* border: 1px solid black; */
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 12px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 5px 1px 5px rgb(156, 156, 156);
}

#form {
  width: 350px;
  height: 300px;
  background-color: rgb(255, 248, 248);
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
  box-shadow: 5px 1px 5px rgb(156, 156, 156);
  margin: 5px;
  border-radius: 5px;
}
#Area {
  width: 250px;
  height: 300px;
  background-color: rgb(255, 248, 248);
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
  box-shadow: 5px 1px 5px rgb(156, 156, 156);
  margin: 5px;
  border-radius: 5px;
}
label, input, select {
  width: 150px; 
  margin-bottom: 20px;
  border-radius: 5px;
 
}
#TechnicalSkillschild {
  position: absolute;
  left: 10vw;
  top: 5vh;
  width: 80vw;
  height: 80vh; 
  overflow: hidden;
  overflow-y: visible;

  
  background-color: rgb(189, 189, 189);
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 1px 13px slategray;
}

#CALCULATOR {
  width:30%;
  height: 50px;
  margin-top: 40px;
  padding: 5px;
  
}

Button:hover{
  
  background-color: blue;
  box-shadow: 5px 1px 5px rgb(156, 156, 156);
}

h2 {
  width: 100%;
  border-bottom: 2px solid rgb(58, 56, 59);
}
.Home button {
  width: auto;
  height: auto;
  /* background-color: rgb(2, 2, 2); */
}

#quntity p img {
  width: 100px;
  height: 70px;
  margin: 0px;
  padding: 0px;
}
h2,
h3,
h4,
h5 {
  color: rgb(15, 15, 158);
}
h5 {
  text-transform: uppercase;
}

#SignInSide {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#SignInSide img {
  width: 100%;
}
#div1 {
  width: 60%;
  padding: 5px;
  background-color: rgb(170, 170, 170);
}
#div2 {
  width: 40%;
}
