span {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 27, 27, 0.836); */
 
  color: rgba(255, 255, 255, 0.959);
  border-radius: 5px;
  text-decoration: underline;
 font-weight:700;
 font-size: larger;
}
span:hover{
  color: rgba(143, 6, 6, 0.959);
  font-weight:900;
  font-size: large;
  cursor: default;
}


#Career {
  width: 25vw;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding: 10px;
  background-color:#1976d2;
  border-radius: 5px;
 margin: 5px;
 
  
}
#Career h5{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%; 
  background-color: #115fac;
  padding: 3px;
  color: #ffffff;
  margin-top: 25px;
  
 }

#Career_Highlights_Button {
  width:180px;
  background-color: rgba(71, 23, 23, 0.863);
  border-radius: 10px;
  box-shadow: 5px 1px 5px rgb(224, 224, 224);
  margin-top: 10px;
  padding: 5px;
  font-size: medium;
  color: #ffffff;
}
#Career_Highlights_Button:hover{
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 1px 5px rgb(255, 255, 255);
  color: #af0101;
}

#TechnicalSkills {
  position: absolute;
  top: 25vh;
  left: 15vw;
  width: 70vw;
  height: auto;
  background-color: rgba(221, 218, 207, 0.952);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 2px 1px 13px slategray;
}
#TechnicalSkillschild {
  position: absolute;
  left: 10vw;
  top: 5vh;
  width: 80vw;
  height: 80vh;  

  background-color: rgb(165, 157, 146);
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 1px 13px rgb(96, 170, 245);
}
h2{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%; 
  background-color: #115fac;
  padding: 3px;
  color: #b60000;
  margin-top: 25px;
  
 }
 #TechnicalSkills h3{
 
  width: auto; 
  background-color: #c5d0db50;
  padding: 3px;
  color: #b60000;
  margin-top: 25px;
  
 }
  #TechnicalSkills h5{
 
  width: auto; 
  background-color: #c5d0db50;
  padding: 3px;
  color: #000000d0;
  margin-top: 25px;
  
 }