.CardList {
  width: 100VW; 
  height:95%; 
  overflow-X: scroll;
  overflow-Y:hidden;
  overflow-X:hidden;
  display: flex;
  
  flex-direction:row;
  justify-content: flex-start;
  align-items: flex-start;
  

  /* border-radius: 5px; */
  /* background-color: rgba(13, 56, 56, 0.767); */
  
}
